@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.buttons {
  display: flex;
  align-items: center;

  &__cart {
    width: 176px;
    height: 40px;
    background-color: $primary-color;
    color: #fff;
    margin-right: 8px;
    border: 0;
    transition: box-shadow, 0.3s;


    @include onTablet {
      width: 130px;
      height: 35px;
    }

    @include onMobile {
      width: 120px;
      height: 40px;
    }

    &--added {
      color: $green-color;
      border: 1px solid $icons-color;
      background-color: #fff;
    }

    &:hover {
      box-shadow: 0 3px 13px 0 rgba(23, 32, 49, 0.26);
    }
  }

  &__favourite {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #fff;
    border: 1px solid $icons-color;
    transition: border-color, 0.3s;
    background-image: url(../../icons/icon-favourites.svg);
    background-position: center;
    background-repeat: no-repeat;

    @include onTablet {
      height: 35px;
    }

    @include onMobile {
      height: 40px;
    }

    &--added {
      background-image: url(../../icons/icon-favourites-red.svg);
      border-color: $icons-color;
    }

    &:hover {
    border-color: $primary-color;
    }
  }
}
